<%- include("../partials/header.ejs") %>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 style="text-align:center;">
				Create a New Campground
			</h1>
		</div>

		<div class="col-md-6 mx-auto">
			<form action="/campgrounds" method="POST">
				<div class="form-group">
					<input class="form-control" type="text" name="name" placeholder="name">
				</div>
				<div class="form-group">
					<textarea class="form-control" name="description" placeholder="description" rows="3"></textarea>
				</div>
				<div class="form-group">
					<input class="form-control" type="number" name="price" placeholder="price">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="image" placeholder="image url">
				</div>
				<div class="form-group">
					<button class="btn btn-outline-success btn-block">
					Submit
				</button>
				</div>
				
				
			</form>
			<a href="/campgrounds" class="btn btn-warning">Go back</a>
		</div>
	

	
		
	</div>
	
</div>

<%- include("../partials/footer.ejs") %>